.navbar-brand .title {
	color: white;
}

.image {
	border-radius: 50%;
	img {
		border-radius: 50%;
	}
}

.notification:not(:last-child) {
	margin-bottom: 0;
}

.field.is-grouped {
	display: flex;
	align-items: center;
	margin-right: 10px;
}
